<div class="row">
    <div class="col-md-4">
        <h3>Seleccione archivos</h3>
        <div class="well drop-zone" appNgDropFiles [archivos]="archivos" (mouseSobre)="estaSobreElemento = $event " [ngClass]="{ 'file-over': estaSobreElemento}">
            <h4>Deje caer aqui los archivos</h4>
            <img src="assets/drop-images.png" alt="">
        </div>
    </div>

    <div class="col-md-8">
        <h4>Cargar archivo</h4>

        <button (click)="cargarImagenes()" class="btn btn-success m-2"> Cargar a Firebase </button>
        <button class="btn btn-danger m-2" (click)="limpiarArchivos()"> Limpiar </button>

        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Nombre Archivo</th>
                    <th>Tamaño</th>
                    <th>Progreso</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let archivo of archivos">
                    <td [ngClass]="{ 'text-green': archivo.progreso >= 100 }">{{ archivo.nombreArchivo }}</td>
                    <td> {{ archivo.archivo.size / 1024 /1024 | number: '.2-2' }} MB </td>
                    <td>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': archivo.progreso + '%' }"></div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>