<div class="row">
    <div class="col-md-4">
        <h3>Seleccione archivos</h3>
        <div class="well drop-zone" appNgDropFiles (mouseSobre)="estaSobreElemento = $event " [ngClass]="{ 'file-over': estaSobreElemento}">
            <h4>Deje caer aqui los archivos</h4>
            <img src="assets/drop-images.png" alt="">
        </div>
    </div>

    <div class="col-md-8">
        <h4>Cargar archivo</h4>

        <button (click)="cargarImagenes()" class="btn btn-success m-2"> Cargar a Firebase </button>
        <button class="btn btn-danger m-2"> Limpiar </button>

        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Nombre Archivo</th>
                    <th>Tamaño</th>
                    <th>Progreso</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>fds</td>
                    <td>12 mb </td>
                    <td>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 25%"></div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>